TelerikWeb-WCF/Connected Services/EmployeeServiceReference/Service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8090/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DataLayer.Models" />
  <xs:element name="GetEmployees">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="departemntId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="keyword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="columnName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="orderASC" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DataLayer.Models" minOccurs="0" name="GetEmployeesResult" nillable="true" type="q1:ArrayOfEmployeeDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEmployee">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DataLayer.Models" minOccurs="0" name="empDto" nillable="true" type="q2:EmployeeDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEmployeeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateEmployeeResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteEmployee">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="employeeId" type="xs:int" />
        <xs:element minOccurs="0" name="deletedBy" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteEmployeeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDepartment">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDepartmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DataLayer.Models" minOccurs="0" name="GetDepartmentResult" nillable="true" type="q3:ArrayOfDepartmentDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>