TelerikWeb-WCF/Connected Services/EmployeeServiceReference/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DataLayer.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DataLayer.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfEmployeeDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EmployeeDTO" nillable="true" type="tns:EmployeeDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmployeeDTO" nillable="true" type="tns:ArrayOfEmployeeDTO" />
  <xs:complexType name="EmployeeDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreatedBy" type="xs:int" />
      <xs:element minOccurs="0" name="DepartmentId" type="xs:int" />
      <xs:element minOccurs="0" name="DepartmentName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmployeeId" type="xs:int" />
      <xs:element minOccurs="0" name="EmployeeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Gender" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Salary" type="xs:decimal" />
      <xs:element minOccurs="0" name="TotalCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmployeeDTO" nillable="true" type="tns:EmployeeDTO" />
  <xs:complexType name="ArrayOfDepartmentDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DepartmentDTO" nillable="true" type="tns:DepartmentDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDepartmentDTO" nillable="true" type="tns:ArrayOfDepartmentDTO" />
  <xs:complexType name="DepartmentDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="DepartmentID" type="xs:int" />
      <xs:element minOccurs="0" name="DepartmentName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DepartmentDTO" nillable="true" type="tns:DepartmentDTO" />
</xs:schema>